<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lizi20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,2},{4,4}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,143},{4,4}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,412},{90,90}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,99},{90,90}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,322},{178,180}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,54},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{268,268}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,10},{268,268}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,630},{356,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{356,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,110},{446,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{446,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,110},{452,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{452,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,112},{438,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{424,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{424,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,414},{410,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{410,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{396,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{396,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,504},{382,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{382,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,526},{366,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{366,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,888},{354,300}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{354,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,716},{338,300}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{338,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,828},{322,300}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{322,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1018},{282,258}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,22},{282,258}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,880},{300,200}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,43},{300,200}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{318,130}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,81},{318,130}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{334,102}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,94},{334,102}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,526},{352,104}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{352,104}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,522},{370,106}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,91},{370,106}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,412},{386,108}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,90},{386,108}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{404,110}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,89},{404,110}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,412},{420,112}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,88},{420,112}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{438,104}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,96},{438,104}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{454,106}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,95},{454,106}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20028.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{468,106}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{468,106}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{476,108}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{476,108}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>lizi20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,110}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{484,110}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozhatietu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727145ecc79b3874d8c79441468fc508$</string>
            <key>textureFileName</key>
            <string>baozhatietu.png</string>
        </dict>
    </dict>
</plist>
