<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lizi10180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{344,324}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{344,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{348,324}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{348,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10182.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{350,324}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10183.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1950},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10184.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1950},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10185.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1950},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10186.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1950},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1948},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10188.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1948},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10189.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1626},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10190.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1626},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10191.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1626},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10192.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10193.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1624},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10194.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1624},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10195.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1302},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10196.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1302},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10197.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1302},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10198.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,328},{326,324}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{326,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10200.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,328},{334,324}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{334,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10201.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,328},{340,324}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{340,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{346,324}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{346,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10203.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,324}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,324}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1300},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1300},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10207.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,978},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10208.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,978},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10209.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,978},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,976},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,976},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10213.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,654},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10214.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,654},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10215.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,654},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10217.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,652},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10218.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,652},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10219.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,328},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>lizi10220.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,328},{322,324}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lizitietu.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf40dfe0e0c4e5a4631e60c591a7708c$</string>
            <key>textureFileName</key>
            <string>lizitietu.png</string>
        </dict>
    </dict>
</plist>
